@{
    ViewBag.Title = "Home";
}
<div id="master">
    <div id="main-container">
        <h2>
            Welcome!

        </h2>
        <h2>
            System Status

            @DateTime.Now;
        </h2>
        <br />

        <div id="content">
            <p>
                <a href="reservations/?action=display">Current Reservations</a>:
                <!--Num of Reservations-->
            </p>
            <p><a href="guests">Current Guests</a>: <?php echo $guest_count; ?></p><br />
            <p><a href="reports/charges_report">Monthly Charges Report</a></p>
            <p><a href="reports/room_report">Monthly Rooms Report</a></p>
            <p><a href="reports/spent_report">Monthly Guest Spending Report</a></p>

        </div>
    </div>
</div>
